@import "../styles/_variables";

.mui-m-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

.mui-m-modal__container {
  position: fixed;
  width: auto;
  z-index: 1400;
  &.-small {
    width: 25vw;
  }
  &.-medium {
    width: 50vw;
  }
  &.-large {
    width: 75vw;
  }
}

.mui-m-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #dde1ea;
  font-size: 18px;
  color: #597582;
  font-weight: bold;
}

.eui-m-modal__header__title {
  flex: 1;
}

.mui-m-modal__content {
  padding: 1rem;
}

.mui-m-modal__footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  margin: 0 1rem 1rem;
}



