@import "../styles/_variables";

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*

/*th, td {
  border-bottom: 1px solid #dde1ea;
  //padding: 8px 0;
}
tr:nth-child(even) {
  background-color: #fff5f3;
}*/

.mui-m-tableRow {
  width: 100%;
  transition: .3s;
  cursor: pointer;
  &.-selected {
    background-color: rgba(70,77,228,0.2);
    background-color: rgba(var(--eui-theme-primary-rgb, 70, 77, 228), 0.2);
  }
}

.mui-a-tableCell {
  text-align: left;
  padding: 8px 20px;
  font-size: 14px;
}

//. eui-o-tableBody {
//
//}
