@import "../styles/_variables";

// .mui-badge {
//   min-width: 20px;
//   line-height: 1;
//   margin-left: .25rem;
//   transform: scale(0);
//   opacity: .5;
//   transition: .3s;
//   z-index: 1;
// }

.mui-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: $white;
  background-color: $default;
  padding: 0 6px;
  font-size: 12px;
  font-weight: bold;
  margin-left: .25rem;
}
